<nav class="navbar navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><img class="logo" src="/space-ship2.png"> Rocket</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a style="font-size: 20px;" id="account" href="/account">My Account</a>
      </li>
      <li class="navbar-right">
        <a style="font-size: 20px;" id="account" href="/">Questions</a>
      </li>
    </ul>
  </div>
</nav>
