<nav class="navbar navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav logo">
        <a href="/"><img src="/space-ship2.png"> Rocket</a>
        <button type="button" class="navbar-toggle topless" data-toggle="collapse" data-target=".navbar-collapse">
          <a><img class="logo" src="/menuBars.png"></a>
        </button>
    </ul>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="nonactive">
            <a href="/about">About</a>
          </li>
          <li class="nonactive">
            <a href="/">Questions</a>
          </li>
          <li class="active">
            <a id="account">Register</a>
          </li>
        </ul>
    </div>
  </div>
</nav>


