@font-face {font-family:"Aller_Rg"; src: url("Aller_Rg.ttf");}
html{}
body{font-family: 'Lato', sans-serif; background: #ecf0f1;}

/*::-moz-selection{color:#2c3e50; text-shadow:none; background-color: transparent;}
::selection{color:#2c3e50; text-shadow:none; background-color: transparent;}*/
::-webkit-input-placeholder{color:rgba(44, 62, 80,0.6);}
:-moz-placeholder{color:rgba(44, 62, 80,0.6);}
::-moz-placeholder{color:rgba(44, 62, 80,0.6);}
:-ms-input-placeholder{color:rgba(44, 62, 80,0.6);}

.centered {text-align: center;}
.left {text-align: left;}
.right {text-align:right;}

.dark-color{color: #2c3e50;}
.hideme{display: none;}
.jumbotron {background: #ecf0f1; color: #2c3e50; margin-bottom: 0px; padding-top: 20px; height:90vh;}
  .jumbotron h2{padding-top: 40px;}
  .jumbotron p {color: rgba(44, 62, 80, 0.6); max-width: 75%; margin: 1em auto 2em;}
  .navbar + .jumbotron {margin-top: -20px;}
  .jumbotron a{font-size: 21px; color: #2c3e50;}
  .jumbotron a:focus, .jumbotron a:hover{text-decoration: none;}
  .jumbotron input{color: #2c3e50; background-color: transparent; border: none; outline: none; font-size: 45pt;width: 700px;}
  .jumbotron textarea{height: 30vh; width: 75vw; color: #d9ccee; background-color: transparent; border: none; outline: none; font-size: 20pt; resize: none;}
.logo-style {font-family: 'Aller_Rg', sans-serif;}
.width-adjustment{width: 300px;}

/*Account Page*/
.question-content{opacity: 0.9;}
.scroll-box{overflow-x:scroll; height:350px;}

/*About Page*/
.about-description {line-height: 125%;opacity:0.9;}

/*Navigation Bar*/
.navbar{background: #ecf0f1; font-size: 25px; font-family: 'Aller_Rg', sans-serif;}
.navbar a{color: #2c3e50; background: #ecf0f1; font-size: 20px;}
.navbar a:focus, .navbar a:hover{text-decoration: none;}
.navbar .logo {margin-top: 10px; padding-left: 20px;}
.navbar .logo img{height: 25px; margin-top: -5px;}
.navbar .logo a{font-size: 25px;}
.nav>li>a:focus, .nav>li>a:hover{background: transparent;}
.navbar-collapse>ul>li.active{opacity: 1.0;}
.navbar-collapse>ul>li.nonactive{opacity: 0.7;}
.topless{padding-top: 0px;margin-top:0px;}
.bottomless{padding-bottom: 0px;margin-bottom:0px;}

/*Register Page*/
.instructions {color: #ecf0f1;}
.message {text-align: center; color: #2c3e50; margin-bottom: 20px;font-size: 21px;}

/*Questions Page*/
.feedback-link{opacity:0.6; visibility: hidden;}

