<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h2>Uh Oh...</h2>
    <h3>We encountered a problem.</h3>
    <br><br>
    <a href="/">Go Home</a>
  </div>
</div>
</body>
<script type="text/javascript">
  $(window).load(function(){
    var ls = localStorage.getItem('rqt_user_id');
    var user_id = ls || " "
    if (user_id.length >= 5) {
      document.getElementById("account").innerHTML = "My Account";
      document.getElementById("account").href="/account?user_id="+user_id; 
    }
  });
</script> 
</html>
