<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h2 style="padding-top: 0px;margin-top:0px;">My Responses</h2><hr style="width: 300px;">
    <span class="message">Email: <%= user.email %></span><br>
    <div style="overflow-x:scroll; height:350px;">
      <% questions.forEach(function(r) { %>
          <h3 id="<%= r.question_id %>" style=" opacity: 0.9;">Question</h3>
          <h4 style="color: #2c3e50;"><%= r.response %></h4>
      <% }); %>
      </div>
  </div>
</div>
</body>
<script src="/questions.js"></script>
<script type="text/javascript">
  $(window).load(function(){
    var userQuestions = '<%= qids%>';
    var qidArray = userQuestions.split(",");
    for (var i = 0; i < qidArray.length; i++) {
      document.getElementById(qidArray[i]).innerHTML = questions[qidArray[i]];
    };
    document.getElementById("account").innerHTML = "Questions";
    document.getElementById("account").href="/"; 
  });
</script> 
</html>
