<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li>user_id: <%= r.user_id %> - question_id: <%= r.question_id %> - response: <%= r.response %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
