<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li>user_id: <%= r.id %> - email: <%= r.email %> - encrypted_password: <%= r.encrypted_password %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
