<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav-feedback.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <!-- <h2 id="question" index="">Feedback</h2> -->
    <h2 id="errorMsg">Thanks for your feedback!</h2>
    <a href="/">Questions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="myAccount"></a>
  </div>
</div>
</body>
<!-- On-pageload script added in line for optimization -->
<script type="text/javascript">
  $(window).load(function(){
    var user_id = localStorage.getItem('rqt_user_id');
    if (user_id.length >= 5) {
      document.getElementById("myAccount").innerHTML = "My Account";
      document.getElementById("myAccount").href="/account?user_id="+user_id; 
    }
  });
</script>
</html>
