<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h2 id="question" index="">Question</h2>
    <form method="post" action="/submitResponse">
    <textarea id="response" name="response" maxlength="140" placeholder="Type Response..." onkeyup="keyhandler();" autofocus></textarea>
    <input type="hidden" id="question_id" name="question_id" value="-1">
    </form>
    <p id="directions">Press Enter to skip</p>
  </div>
</div>
</body>
<script type="text/javascript">
  $(window).load(function(){
    selectRandomQuestion();
  });
</script> 
</html>
