<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav-register.ejs %>
<div class="jumbotron text-center">
  <div class="container" id="all" style="display: none;">
    <h2>Register</h2>
    <% if (errorMsg) { %>
    <span class="message"><%= errorMsg  %></span>
    <% } else { %>
    <span class="message" style="color: #ecf0f1;">Please sign in so we can store your responses on your account.</span>
    <% }; %>
    <br><br>
    <form method="post" action="/signIn">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <input type="email" id="email" name="email" maxlength="150" placeholder="Email Address" class="centered" onkeydown="validateEmail(this);" autofocus>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <input type="password" id="password" name="password" maxlength="50" class="centered" onkeydown="validatePassword(this);" placeholder="Password (min 5 chars)">
    </div>
    </form>
    <br><br>
    <p id="directions">Press Enter to submit</p>
  </div>
</div>
</body>
<script src="/register.js"></script>
</html>
